<h1> <%= @player_1_name %> vs <%= @player_2_name %> </h1>
<h1> <%=@current_player_turn%>'s turn</h1>

<div>
  <img style = "border: 4px dashed green;" src="http://r.ddmcdn.com/s_f/o_1/APL/uploads/2014/10/5-tips-to-stop-cats-from-fighting0.jpg">
</div>

<div>
  <form action = '/attack' method = 'post'>
  <button type='submit'> attack </button>
  </form>
</div>

<div>
  <h2> <%= @player_1_name %> hit points <%= @player_1_hp %>  <%= @player_2_name %> hit points <%= @player_2_hp%> </h2>
</div>
