<h1> <%= @game.player_1.name%> vs <%= @game.player_2.name %> </h1>
<h1> <%= @game.current_player.name %>'s turn</h1>

<div>
  <img style = "border: 4px dashed green;" src="https://img00.deviantart.net/9b8c/i/2013/140/3/d/ready____pounce____by_bucketofmilk-d65wrhr.jpg">
</div>
<div>
  <form action = '/attack' method = 'post'>
  <button type='submit'> attack </button>
  </form>
</div>

<div>
  <h2> <%= @game.player_1.name %> hit points <%=  @game.player_1.hit_points %>  <%= @game.player_2.name %> hit points <%= @game.player_2.hit_points %> </h2>
</div>
